{% extends 'index_base.html' %}

{% block title %}
    {{ question.title }}
{% endblock %}

{% block new_css %}
    <style>
        #question-title {
            margin: 30px auto;
            text-align: center;
        }

        #question-title span {
            padding: 0 15px;
        }

        #question-body {
            font-size: 18px;
            line-height: 150%;
        }

        #question-comment {
            margin-top: 30px;
        }
    </style>
{% endblock %}


{% block user_navbar %}
    {% if user.username == None %}
        <li><a id="login-user" href="#">登录</a></li>
        <li><a id="register-user" href="#">注册</a></li>
        <li><a id="context-user" href="#" style="display: none"><img src="" alt=""></a></li>
        <li><a id="logout-user" href="#" style="display: none">注销</a></li>
    {% else %}
        <li><a id="login-user" href="#" style="display: none">登录</a></li>
        <li><a id="register-user" href="#" style="display: none">注册</a></li>
        <li><a id="context-user" href="{{ url_for('auth.user_profile', username=user.username) }}">
            <img src="{{ url_for('static', filename='images/user_portrait/' + user.username + '.png') }}">
        </a></li>
        <li><a id="logout-user" href="#">注销</a></li>
    {% endif %}
{% endblock %}

{% block new_content %}
    <div class="container">
        <div id="question-title">
            <h1>{{ question.title }}</h1>
            <h5>
                <span>提问者：{{ question.author.username }}</span>
                <span>时间：{{ question.create_time }}</span>
            </h5>
        </div>
        <div id="question-body">
            <p>{{ question.body }}</p>
        </div>
        <div id="question-comment">
            <h4><b>评论：</b></h4>
            <form>
                <div class="form-group">
                    <textarea id="comment_body" class="form-control" rows="2" placeholder="请输入评论"></textarea>
                    <input id="question_id" type="hidden" value="{{ question.id }}">
                </div>
                <div class="form-group pull-right">
                    <a id="add-question-comment" type="#" class="btn btn-primary">立即评论</a>
                </div>
            </form>
        </div>
    </div>

    <div class="container comments" id="question-comments">
        {% if question_comments %}
            {% for each in question_comments %}
                <div class="media">
                    <div class="media-left">
                        <a href="{{ url_for('auth.user_index', username=each.reviewer.username) }}">
                            <img class="media-object comment-portrait"
                                 src="{{ url_for('static', filename='images/user_portrait/' + each.reviewer.username + '.png') }}"
                                 alt="">
                        </a>
                    </div>
                    <div class="media-body">
                         {% if each.reviewer.name == None %}
                            <h4 class="media-heading">{{ each.reviewer.username }}</h4>
                        {% else %}
                            <h4 class="media-heading">{{ each.reviewer.name }}</h4>
                        {% endif %}
                        <h6 class="media-heading">{{ each.create_time }}</h6>
                        <p>{{ each.body }}</p>
                    </div>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <img src="holder.js/100%x200" alt="">
        {% endif %}
    </div>
{% endblock %}

{% block new_js %}
    <script>
        clear_navbar_active();

        $('#add-question-comment').click(function () {
            var csrftoken = $('meta[name=csrf-token]').attr('content');

            $.ajax({
                url: '/auth/add_question_comment/' + $('#question_id').val(),
                type: 'POST',
                contentType: "application/json; charset=UTF-8",
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                },
                data: JSON.stringify({
                    'data': {
                        'body': $('#comment_body').val()
                    }
                }),
                dataType: 'json'
            }).done(function (data) {
                console.log(data);

                if (data['status'] == true) {
                    clear_messages();
                    show_message(data);
                    load_data = data['load_data'];
                    load_comment($('#question-comments'), load_data);
                }
                else {
                    if ('url' in data['data']) {
                        console.log(data['data']['url']);
                        window.location.href = data['data']['url'];
                    }
                    show_message(data);
                }
            }).fail(function () {
                alert('请求失败！');
            });
        });

        $('body').keydown(function () {
            if (event.keyCode == '13') {
                if ($('#add-question-comment').is(':visible') && $('#login-user').is(':hidden')) {
                    $('#add-question-comment').click();
                }
            }
        });
    </script>
{% endblock %}