{% extends 'index_base.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block new_css %}
    <style>
        #article-title {
            margin: 30px auto;
            text-align: center;
        }

        #article-title span {
            padding: 0 15px;
        }

        #article-body {
            font-size: 18px;
            line-height: 150%;
        }

        #article-comment {
            margin-top: 30px;
        }
    </style>
{% endblock %}


{% block user_navbar %}
    {% if user.username == None %}
        <li><a id="login-user" href="#">登录</a></li>
        <li><a id="register-user" href="#">注册</a></li>
        <li><a id="context-user" href="#" style="display: none"><img src="" alt=""></a></li>
        <li><a id="logout-user" href="#" style="display: none">注销</a></li>
    {% else %}
        <li><a id="login-user" href="#" style="display: none">登录</a></li>
        <li><a id="register-user" href="#" style="display: none">注册</a></li>
        <li><a id="context-user" href="{{ url_for('auth.user_profile', username=user.username) }}">
            <img src="{{ url_for('static', filename='images/user_portrait/' + user.username + '.png') }}">
        </a></li>
        <li><a id="logout-user" href="#">注销</a></li>
    {% endif %}
{% endblock %}

{% block new_content %}
    <div class="container">
        <div id="article-title" role="{{ article.id }}">
            <h1>{{ article.title }}</h1>
            <h5>
                <span>作者：{{ article.author.username }}</span>
                <span>时间：{{ article.create_time }}</span>
            </h5>
        </div>
        <div id="article-body">
            <p>{{ article.body }}</p>
        </div>
        <div id="article-comment">
            <h4><b>评论（{{ comment_num }}）：</b></h4>
            <form>
                <div class="form-group">
                    <textarea id="comment_body" class="form-control" rows="2" placeholder="请输入评论"></textarea>
                    <input id="article_id" type="hidden" value="{{ article.id }}">
                </div>
                <div class="form-group pull-right">
                    <a id="add-article-comment" href="#" class="btn btn-primary">立即评论</a>
                    {% if care %}
                        <a id="article-care" href="#" role="del" class="btn btn-warning">取消关注</a>
                    {% else %}
                        <a id="article-care" href="#" role="add" class="btn btn-success">立即关注</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

    <div class="container comments" id="article-comments">
        {% if article_comments %}
            {% for each in article_comments %}
                <div class="media">
                    <div class="media-left">
                        <a href="{{ url_for('auth.user_index', username=each.reviewer.username) }}">
                            <img class="media-object comment-portrait"
                                 src="{{ url_for('static', filename='images/user_portrait/' + each.reviewer.username + '.png') }}"
                                 alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        {% if each.reviewer.name == None %}
                            <h4 class="media-heading">{{ each.reviewer.username }}</h4>
                        {% else %}
                            <h4 class="media-heading">{{ each.reviewer.name }}</h4>
                        {% endif %}
                        <h6 class="media-heading">{{ each.create_time }}</h6>
                        <p>{{ each.body }}</p>
                    </div>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <img src="holder.js/100%x200" alt="">
        {% endif %}
    </div>

{% endblock %}

{% block new_js %}
    <script>
        clear_navbar_active();

        $('#add-article-comment').click(function () {
            var csrftoken = $('meta[name=csrf-token]').attr('content');

            $.ajax({
                url: '/auth/add_article_comment/' + $('#article_id').val(),
                type: 'POST',
                contentType: "application/json; charset=UTF-8",
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                },
                data: JSON.stringify({
                    'data': {
                        'body': $('#comment_body').val()
                    }
                }),
                dataType: 'json'
            }).done(function (data) {
                console.log(data);

                if (data['status'] == true) {
                    clear_messages();
                    show_message(data);
                    load_data = data['load_data'];
                    load_comment($("#article-comments"), load_data);
                    $('#article-comment b').text('评论（' + load_data['comment_num'] + '）：');
                }
                else {
                    if ('url' in data['data']) {
                        console.log(data['data']['url']);
                        window.location.href = data['data']['url'];
                    }
                    show_message(data);
                }
            }).fail(function () {
                alert('请求失败！');
            });
        });

        $("#article-care").click(function () {
            var csrftoken = $('meta[name=csrf-token]').attr('content');

            $.ajax({
                url: '/auth/care_article/' + $(this).attr('role') + '/' + $('#article-title').attr('role') + '/',
                type: 'GET',
                contentType: "application/json; charset=UTF-8",
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                },
            }).done(function (data) {
                console.log(data);

                if (data['status'] == true) {
                    clear_messages();
                    $care_btn = $('#article-care');
                    if ($care_btn.attr('role') == 'add') {
                        $care_btn.removeClass('btn-success')
                        .addClass('btn-warning')
                        .text('取消关注')
                        .attr('role', 'del');
                    }
                    else {
                        $care_btn.removeClass('btn-warning')
                        .addClass('btn-success')
                        .text('立即关注')
                        .attr('role', 'add');
                    }

                    show_message(data);
                }
                else {
                    if ('url' in data['data']) {
                        console.log(data['data']['url']);
                        window.location.href = data['data']['url'];
                    }
                    show_message(data);
                }
            }).fail(function () {
                alert('请求失败！');
            });
        });

        $('body').keydown(function () {
            if (event.keyCode == '13') {
                if ($('#add-article-comment').is(':visible') && $('#btn-login').is(':hidden')) {
                    $('#add-article-comment').click();
                }
            }
        });
    </script>
{% endblock %}
