{% extends 'index_base.html' %}
{% import '_macros.html' as macros %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block new_css %}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/detail_article.css') }}">
{% endblock %}

{% block user_navbar %}
    {{ macros.add_user_navbar(user) }}
{% endblock %}

{% block new_content %}
    <div class="container">
        <div id="article-title" role="{{ article.id }}">
            <h1>{{ article.title }}</h1>
            <h5>
                <span>作者：{{ article.author.username }}</span>
                <span>时间：{{ article.create_time }}</span>
            </h5>
        </div>
        <div id="article-body">
            <pre class="my-pre">{{ article.body }}</pre>
        </div>
        <div id="article-comment">
            <h4><b id="comment_num">评论（{{ comment_num }}）</b>| <b id="care_num">关注（{{ care_num }}）</b></h4>
            <form>
                <div class="form-group">
                    <textarea id="comment_body" class="form-control" rows="2" placeholder="请输入评论"></textarea>
                    <input id="article_id" type="hidden" value="{{ article.id }}">
                </div>
                <div class="form-group pull-right">
                    <a id="add-article-comment" href="#" class="btn btn-primary">立即评论</a>
                    {% if care %}
                        <a id="article-care" href="#" role="del" class="btn btn-warning">取消关注</a>
                    {% else %}
                        <a id="article-care" href="#" role="add" class="btn btn-success">立即关注</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

    <div class="container comments" id="article-comments" role="{{ article.id }}">
        {% if article_comments %}
            {% for each in article_comments %}
                <div class="media">
                    <div class="media-left">
                        <a href="{{ url_for('auth.user_index', username=each.reviewer.username) }}">
                            <img class="media-object comment-portrait"
                                 src="{{ url_for('static', filename='images/user_portrait/' + each.reviewer.username + '.png') }}"
                                 alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="row">
                            <div class="col-xs-8">
                                {% if each.reviewer.name == None %}
                                    <h4 class="media-heading">{{ each.reviewer.username }}</h4>
                                {% else %}
                                    <h4 class="media-heading">{{ each.reviewer.name }}</h4>
                                {% endif %}
                            </div>
                            <div class="col-xs-4 text-right">
                                <h6 class="media-heading">{{ each.show_create_time }}</h6>
                            </div>
                        </div>
                        <p>{{ each.body }}</p>
                    </div>
{#                    <hr>#}
                </div>
            {% endfor %}
            <div class="load-A-comment" name="2"></div>
        {% else %}
            <div><h4 align="center">暂无评论</h4></div>
        {% endif %}
    </div>
    {% include '_retop.html' %}
{% endblock %}

{% block new_js %}
    <script src="{{ url_for('static', filename='js/auth/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth/detail_article.js') }}"></script>
{% endblock %}
