{% extends 'index_base.html' %}

{% block title %}
    {{ question.title }}
{% endblock %}

{% block new_css %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/detail_question.css') }}">
{% endblock %}


{% block user_navbar %}
    {% include '_user_navbar.html' %}
{% endblock %}

{% block new_content %}
    <div class="container">
        <div id="question-title" role="{{ question.id }}">
            <h1>{{ question.title }}</h1>
            <h5>
                <span>提问者：{{ question.author.username }}</span>
                <span>时间：{{ question.create_time }}</span>
            </h5>
        </div>
        <div id="question-body">
            <pre class="my-pre">{{ question.body }}</pre>
        </div>
        <div id="question-comment">
            <h4><b id="comment_num">评论（{{ comment_num }}）</b>| <b id="care_num">关注（{{ care_num }}）</b></h4>
            <form>
                <div class="form-group">
                    <textarea id="comment_body" class="form-control" rows="2" placeholder="请输入评论"></textarea>
                    <input id="question_id" type="hidden" value="{{ question.id }}">
                </div>
                <div class="form-group pull-right">
                    <a id="add-question-comment" type="#" class="btn btn-primary">立即评论</a>
                    {% if care %}
                        <a id="question-care" href="#" role="del" class="btn btn-warning">取消关注</a>
                    {% else %}
                        <a id="question-care" href="#" role="add" class="btn btn-success">立即关注</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

    <div class="container comments" id="question-comments">
        {% if question_comments %}
            {% for each in question_comments %}
                <div class="media">
                    <div class="media-left">
                        <a href="{{ url_for('auth.user_index', username=each.reviewer.username) }}">
                            <img class="media-object comment-portrait"
                                 src="{{ url_for('static', filename='images/user_portrait/' + each.reviewer.username + '.png') }}"
                                 alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="row">
                            <div class="col-xs-8">
                                {% if each.reviewer.name == None %}
                                    <h4 class="media-heading">{{ each.reviewer.username }}</h4>
                                {% else %}
                                    <h4 class="media-heading">{{ each.reviewer.name }}</h4>
                                {% endif %}
                            </div>
                            <div class="col-xs-4 text-right">
                                <h6 class="media-heading">{{ each.show_create_time }}</h6>
                            </div>
                        </div>
                        <p>{{ each.body }}</p>
                    </div>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <img src="holder.js/100%x200" alt="">
        {% endif %}
    </div>
{% endblock %}

{% block new_js %}
    <script src="{{ url_for('static', filename='js/auth/detail_question.js') }}"></script>
{% endblock %}