{% extends 'index_base.html' %}

{% block title %}
    用户交流平台
{% endblock %}

{% block user_navbar %}
    {% include '_user_navbar.html' %}
{% endblock %}

{% block new_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/index.css') }}">
{% endblock %}

{% block new_navbar_title %}
    <form class="navbar-form navbar-left">
        <div class="row">
            <div class="input-group">
                <div class="input-group-btn">
                    <select class="btn" id="project-search-select">
                        <option value="文章">文章</option>
                        <option value="问答">问答</option>
                    </select>
                </div>
                <div class="input-group-btn">
                    <select class="btn" id="class-search-select">
                        <option value="全部">全部</option>
                        <option value="技术">技术</option>
                        <option value="生活">生活</option>
                    </select>
                </div>
                <input id="search-content" type="text" class="form-control" placeholder="请输入搜索内容">
                <div class="input-group-btn">
                    <a href="#" id="btn-search" class="btn btn-default" type="button" title="搜索">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>
                <div class="input-group-btn">
                    <a href="#" id="btn-refresh" class="btn btn-default" type="button" title="刷新">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block new_content %}
    <div id="cou-index" class="container">
        <div id="all-articles">
            {% for each in articles %}
                <div class="media">
                    <div class="media-body">
                        <div class="media-heading">
                            <a href="{{ url_for('auth.user_index', username=each.author.username) }}">
                                <img class="media-object pull-left user-little-portrait"
                                     src="
    {{ url_for('static', filename='images/user_portrait/' + each.author.username + '.png') }}"
                                     alt="">
                            </a>
                            <div class="title-time">
                                <a class="title-link"
                                   href="{{ url_for('auth.detail_article', article_id=each.id) }}">{{ each.title }}</a>
                                <h6 class="media-heading">{{ each.show_create_time }}</h6>
                            </div>
                        </div>
                        <pre class="my-pre">{{ each.body }}</pre>
                        <div class="btn-group btn-group-justified">
                            <a href="{{ url_for('auth.detail_article', article_id=each.id) }}"
                               class="btn btn-default btn-no-border">评论
                                <span id="comment-badge"
                                      class="badge">{{ article_comments[each] }}</span>
                            </a>
                            <a href="{{ url_for('auth.detail_article', article_id=each.id) }}"
                               class="btn btn-default btn-no-border">关注
                                <span id="care-badge" class="badge">{{ article_care_num[each] }}</span>
                            </a>
                        </div>
                    </div>
                    <hr>
                </div>
            {% endfor %}
            <div class="load-page" name="2"></div>
        </div>
    </div>
    <div class="btn-retop">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </div>
{% endblock %}

{% block new_js %}
    <script src="{{ url_for('static', filename='js/auth/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth/index.js') }}"></script>
{% endblock %}