{% extends 'index_base.html' %}

{% block title %}
    用户交流平台
{% endblock %}

{% block user_navbar %}
    {% include '_user_navbar.html' %}
{% endblock %}

{% block new_navbar_title %}
    <form class="navbar-form navbar-left">
        <div class="form-group input-group">
            <input type="text" class="form-control" placeholder="请输入搜索内容">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        {#            <button type="submit" class="btn btn-default">Submit</button>#}
    </form>
{% endblock %}

{% block new_js %}
<script src="{{ url_for('static', filename='js/auth/index.js') }}"></script>
{% endblock %}