<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#Bootstrap自动适配不同的分辨率的屏幕#}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {#用来生成csrf令牌#}
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>密码重设</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        #resetpwd-container {
            display: block;
            margin: 10% auto 0 auto;
            width: 300px;
            padding: 15px;
            border: 1px solid #337ab7;
            border-radius: 15px;
            box-shadow: 0 8px 25px #333;
        }

        #my-message-Modal .my-modal-dialog {
            top: 25%;
            width: 350px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<div class="container" id="resetpwd-container">
    <h3 class="text-center">修改密码</h3>
    <form method="post">
        <label class="control-label">电子邮箱</label>
        <div class="form-group">
            <input id="emailRS" type="text" class="form-control" placeholder="请输入绑定的邮箱">
            <span class="clear-glyphicon"></span>
            <span class="help-block clear-help"></span>
        </div>
        <label class="control-label text-right">设置新秘密</label>
        <div class="form-group">
            <input id="passwordRS1" type="password" class="form-control" placeholder="请设置新密码">
            <span class="clear-glyphicon"></span>
            <span class="help-block clear-help"></span>
        </div>
        <label class="control-label text-right">确认新密码</label>
        <div class="form-group">
            <input id="passwordRS2" type="password" class="form-control" placeholder="请确认新密码">
            <span class="clear-glyphicon"></span>
            <span class="help-block clear-help"></span>
        </div>
        <div class="form-group">
            <button id="btn-resetpwd" type="button" class="btn btn-primary btn-block">立即修改</button>
        </div>
    </form>
</div>
<div class="modal fade" id="my-message-Modal">
    <div class="modal-dialog my-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title text-center"><strong class="sign">邮箱验证</strong></h4>
            </div>
            <div class="modal-body text-center">
                <h4 id="message-content"></h4>
            </div>
            <div class="modal-footer my-modal-footer">
                <button type="button" class="btn btn-warning btn-block" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/docs.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script>
    $('#btn-resetpwd').click(function () {
        var csrftoken = $('meta[name=csrf-token]').attr('content');

        $.ajax({
            url: '{{ url_for('auth.reset_password_request') }}',
            type: 'POST',
            contentType: "application/json; charset=UTF-8",
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            },
            data: JSON.stringify({
                'data': {
                    'email': $('#emailRS').val(),
                    'passwordRS1': $('#passwordRS1').val(),
                    'passwordRS2': $('#passwordRS2').val()
                }
            }),
            dataType: 'json'
        }).done(function (data) {
            console.log(data);

            if (data['status'] == true) {
                $('#my-message-Modal').modal('show');
                $('#message-content').html(data['data']['confirm']);
            }
            else {
                errors = data['data'];
                if ('email' in errors) {
                    $email = $('#emailRS');
                    email_errors = errors['email']
                    show_tag_errors($email, email_errors)
                }
                else {
                    $email = $('#email');
                    clear_one_tag($email);
                }

                if ('password1' in errors) {
                    $passwordRS1 = $('#passwordRS1');
                    pwd1_errors = errors['password1']
                    show_tag_errors($passwordRS1, pwd1_errors)
                }
                else {
                    $passwordRS1 = $('#passwordRS1');
                    clear_one_tag($passwordRS1);
                }

                if ('password2' in errors) {
                    $passwordRS2 = $('#passwordRS2');
                    pwd2_errors = errors['password2']
                    show_tag_errors($passwordRS2, pwd2_errors)
                }
                else {
                    $passwordRS2 = $('#passwordRS2');
                    clear_one_tag($passwordRS2);
                }
            }
        }).fail(function () {
            alert('请求失败！');
        });
    });

    // 监听键盘
    $('body').keydown(function () {
        // enter的键值为13
        if (event.keyCode == '13') {
            $('#btn-resetpwd').click();
        }
    });

    $('#my-message-Modal').on('hidden.bs.modal', function () {
       window.location.href = '{{ url_for('auth.login') }}';
    });
</script>
</body>
</html>