{% extends 'index_base.html' %}
{% import '_macros.html' as macros %}

{% block title %}
    {{ user.username }} 的主页
{% endblock %}

{% block new_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/user_profile.css') }}">
{% endblock %}

{% block user_navbar %}
    {% if status == 0 %}
        {{ macros.add_user_navbar(view_user) }}
    {% else %}
        <li><a id="context-user">
            <img src="{{ url_for('static', filename='images/user_portrait/' + user.username + '.png') }}">
        </a></li>
        <li><a id="logout-user-profile" href="#">注销</a></li>
    {% endif %}
{% endblock %}

{% block new_content %}
    <div class="container">
        <div class="row" id="profile-container">
            <div class="col-sm-3">
                <div id="user-portrait">
                    <img src="{{ url_for('static', filename='images/user_portrait/' + user.username + '.png') }}"
                         alt="">
                </div>
            </div>
            <div class="col-sm-9" id="user-content-col">
                <div id="user-content">
                    {% if user.name == None %}
                        <h2><strong></strong></h2>
                    {% else %}
                        <h2><strong>{{ user.name }}</strong></h2>
                    {% endif %}
                    <h5 id="username" style="opacity: 0.5">ID:{{ user.username }}</h5>
                    {% if user.about_me == None %}
                        <p></p>
                    {% else %}
                        <p>“{{ user.about_me }}”</p>
                    {% endif %}
                    {% if user.location == None %}
                        <h5 id="user-location" class="label label-info"></h5>
                    {% else %}
                        <h5 id="user-location" class="label label-info">{{ user.location }}</h5>
                    {% endif %}
                    <div id="user-AQ-num">
                        <span class="label label-danger">文章 <span id="user-articles-num">{{ user_articles_num }}</span></span>
                        <span class="label label-success">问答 <span
                                id="user-questions-num">{{ user_questions_num }}</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="text-center" id="user-profile">
                    <div class="panel-group">
                        <div class="panel panel-info">
                            <div class="panel-heading" name="profile-0">
                                <span class="glyphicon glyphicon-home set-gly-height"></span>
                                <span>我的主页</span>
                            </div>
                            <div class="panel-body">
                                <ul id="user-index-list" class="list-group" role="{{ user.id }}">
                                    <a href="#" id="screening-0" class="list-group-item active">全部</a>
                                    <a href="#" id="screening-1" class="list-group-item">技术</a>
                                    <a href="#" id="screening-2" class="list-group-item">生活</a>
                                </ul>
                            </div>
                        </div>
                        {% block new_panel %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="col-sm-9" style="padding: 0;">
                <div id="profile-0" class="user-index">
                    <div id="profile-0-nav">
                        <ul class="nav nav-pills nav-justified">
                            <li class="active" name="articles"><a>我的文章</a></li>
                            <li name="questions"><a>我的问答</a></li>
                        </ul>
                    </div>
                    <div id="profile-0-content">
                        <div id="user-articles" role="{{ user.id }}">
                            {% if user_articles %}
                                {% for each in user_articles %}
                                    <div class="media" role="{{ each.id }}">
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <img class="media-object pull-left user-little-portrait"
                                                     src="{{ url_for('static', filename='images/user_portrait/' + user.username + '.png') }}"
                                                     alt="">
                                                <div class="title-time">
                                                    <a class="title-link"
                                                       href="{{ url_for('auth.detail_article', article_id=each.id) }}">{{ each.title }}</a>
                                                    {% if add_delete_btn %}
                                                        <a class="delete_link" title="删除">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </a>
                                                    {% endif %}
                                                    <h6 class="media-heading">{{ each.show_create_time }}</h6>
                                                </div>
                                            </div>
                                            <pre class="my-pre">{{ each.body }}</pre>
                                            <div class="btn-group btn-group-justified">
                                                <a href="{{ url_for('auth.detail_article', article_id=each.id) }}"
                                                   class="btn btn-default btn-no-border">评论
                                                    <span id="comment-badge"
                                                          class="badge">{{ article_comments[each] }}</span>
                                                </a>
                                                <a href="{{ url_for('auth.detail_article', article_id=each.id) }}"
                                                   class="btn btn-default btn-no-border">关注
                                                    <span id="care-badge"
                                                          class="badge">{{ article_care_num[each] }}</span>
                                                </a>
                                            </div>
                                        </div>
{#                                        <hr>#}
                                    </div>
                                {% endfor %}
                                <div class="user-load-A-page" name="2"></div>
                            {% else %}
                                <div class="no-article"><h4 align="center">没有相关文章</h4></div>
                            {% endif %}
                        </div>
                        <div id="user-questions" class="hide-tag">
                            {% if user_questions %}
                                {% for each in user_questions %}
                                    <div class="media" role="{{ each.id }}">
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <img class="media-object user-little-portrait pull-left"
                                                     src="{{ url_for('static', filename='images/user_portrait/' + user.username + '.png') }}"
                                                     alt="">
                                                <div class="title-time">
                                                    <a class="title-link"
                                                       href="{{ url_for('auth.detail_question', question_id=each.id) }}">{{ each.title }}</a>
                                                    {% if add_delete_btn %}
                                                        <a class="delete_link" title="删除">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </a>
                                                    {% endif %}
                                                    <h6 class="media-heading">{{ each.show_create_time }}</h6>
                                                </div>
                                            </div>
                                            <pre class="my-pre">{{ each.body }}</pre>
                                            <div class="btn-group btn-group-justified">
                                                <a href="{{ url_for('auth.detail_question', question_id=each.id) }}"
                                                   class="btn btn-default btn-no-border">评论
                                                    <span id="comment-badge"
                                                          class="badge">{{ question_comments[each] }}</span>
                                                </a>
                                                <a href="{{ url_for('auth.detail_question', question_id=each.id) }}"
                                                   class="btn btn-default btn-no-border">关注
                                                    <span id="care-badge"
                                                          class="badge">{{ question_care_num[each] }}</span>
                                                </a>
                                            </div>
                                        </div>
{#                                        <hr>#}
                                    </div>
                                {% endfor %}
                                <div class="user-load-Q-page" name="2"></div>
                            {% else %}
                                <div class="no-question"><h4 align="center">没有相关问答</h4></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% block new_profile %}{% endblock %}
            </div>
        </div>
    </div>
    {% include '_retop.html' %}
{% endblock %}

{% block new_js %}
    <script src="{{ url_for('static', filename='js/auth/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth/user_profile.js') }}"></script>
{% endblock %}