<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star wars</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/starwar/starwar.css') }}">
</head>
<body>
<h1 id="title">Star Wars</h1>
<div id="relation-map">
    <svg id="svg-map" width="800" height="560"></svg>

    <div id="indicator">
    </div>

    <div id="mode">
        <span class="active active-circle">Circles</span>
        <span class="active-text">Texts</span>
    </div>

    <div id="search">
        <input type="text" class="form-control">
    </div>

    <div id="info">
        <h4></h4>
    </div>

</div>

<div id="relation-axis">
    <svg id="svg-axis" width="960" height="240">
        <g></g>
    </svg>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{{ url_for('static', filename='js/starwar/starwar.js') }}"></script>
</body>

</html>