{% extends 'index_base.html' %}

{% block title %}
    Star wars
{% endblock %}

{% block new_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/starwar/starwar.css') }}">
{% endblock %}

{% block new_content %}
    <div id="starwar-container">
        <h1 id="title">Star Wars</h1>
        <div id="relation-map">
            <svg id="svg-map" width="800" height="560"></svg>

            <div id="indicator">
            </div>

            <div id="mode">
                <span class="active active-circle">Circles</span>
                <span class="active-text">Texts</span>
            </div>

            <div id="search">
                <input type="text" class="form-control">
            </div>

            <div id="info">
                <h4></h4>
            </div>

        </div>

        <div id="relation-axis">
            <svg id="svg-axis" width="960" height="240">
                <g></g>
            </svg>
        </div>
    </div>
{% endblock %}

{% block new_js %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{{ url_for('static', filename='js/starwar/starwar.js') }}"></script>
{% endblock %}




