{% extends 'index_base.html' %}
{% import '_macros.html' as macros %}

{% block title %}
    China Weather
{% endblock %}

{% block new_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weather/index.css') }}">
{% endblock %}

{% block user_navbar %}
    {{ macros.add_user_navbar(user) }}
{% endblock %}

{% block new_content %}
    <div class="weather-container" style="margin-top: 50px">
        <div class="col-xs-2">
            <img src="holder.js/100%x800" alt="">
        </div>
        <div class="col-xs-10">
            <div class="col-xs-6">
                <img src="holder.js/100%x400" alt="">
            </div>
            <div class="col-xs-6">
                <img src="holder.js/100%x400" alt="">
            </div>
            <div class="col-xs-12" style="margin-top: 15px">
                <div id="main" style="width: 100%;height: 750px;"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block new_js %}
    <script src="{{ url_for('static', filename='js/weather/echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/weather/map/china.js') }}"></script>
    <script src="{{ url_for('static', filename='js/weather/theme/dark.js') }}"></script>
    <script src="{{ url_for('static', filename='js/weather/theme/vintage.js') }}"></script>
    <script src="{{ url_for('static', filename='js/weather/index.js') }}"></script>
{% endblock %}
