.badge {
    background-color: #777 !important;
}

.title-link {
    color: #333;
    font-size: 22px;
    font-weight: bold;
    line-height: 130%;
    text-decoration: none !important;
}

.title-link:hover {
    color: #0f62c4 !important;
    cursor: pointer;
}

.title-link:visited {
    color: #333;
}

.comment-portrait {
    width: 40px !important;
    border: 0.5px solid #a1a1a1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;.
    border-radius: 50%;
}

.my-pre {
    font-size: 14px;
    border: 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}