.badge {
    background-color: #777 !important;
}

.title-link {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    line-height: 180%;
    text-decoration: none !important;
}

.title-link:hover {
    color: #0f62c4 !important;
    cursor: pointer;
}

.title-link:visited {
    color: #333;
}

.comment-portrait {
    width: 40px !important;
    border: 0.5px solid #a1a1a1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.my-pre {
    font-size: 14px;
    border: 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.user-little-portrait {
    width: 45px;
    border: 0.5px solid #a1a1a1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.title-time {
    margin-left: 55px;
}

pre {
    white-space: pre-wrap;      /* css-3 */
    word-wrap: break-word;      /* InternetExplorer5.5+ */
    white-space: -moz-pre-wrap; /* Mozilla,since1999 */
    white-space: -o-pre-wrap;   /* Opera7 */
}

.delete_link {
    display: inline-flex;
    float: right;
    color: #ccc;
    margin: 15px;
    text-decoration: none !important;
}

.delete_link:hover {
    color: #000;
}