
html {
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

body {
    height: 100%;
    margin-top: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.my-brand {
    padding: 0;
    margin: 0 15px;
}
#context-user {
    padding: 15px;
}
#context-user img{
    width: 20px;
    border-radius: 50%;
}

.main {
    min-height: 100%;
    height: auto !important;
    height: 100%; /*兼容IE6*/
}

.push {
    height: 100px;
    clear: both;
}

.my-navbar-bottom {
    height: 200px;
    clear: both;
    background-color: #222;
}

.my-navbar-bottom .container {
    padding-top: 15px;
    color: #ffffff;
}

.sign {
    font-weight: bold;
    font-size: 25px;
    font-family: "Microsoft YaHei UI";
}

#my-login-Modal .my-modal-dialog {
    /*top: 180px;*/
    top: 20%;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#my-register-Modal .my-modal-dialog {
    /*top: 80px;*/
    top: 10%;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.my-modal-footer {
    text-align: center;
}

.clear-help {
    display: none;

    /*不能调得太小，会导致真机上无法显示*/
    font-size: 12px;
}
