
body {
    height: 100%;
    margin-top: 50px;
}

.my-brand {
    padding: 0;
    margin: 0 15px;
}

.main {
    min-height: 100%;
    padding-bottom: 215px;
}

.my-navbar-bottom {
    position: relative;
    margin-top: -200px;
    height: 200px;
    background-color: #222;
}

.my-navbar-bottom .container {
    padding-top: 15px;
    color: #ffffff;
}

.sign {
    font-weight: bold;
    font-size: 25px;
    font-family: "Microsoft YaHei UI";
}

.my-modal-dialog {
    top: 25%;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.my-modal-footer {
    text-align: center;
}

.clear-help {
    display: none;
    font-size: 2px;
}