
.show-carousel-container {
    width: 100%;
    height: 600px;
    margin-bottom: 15px;
    background-color: #a6e1ec;
}

.my-carousel-container {
    padding: 0;
    margin: 150px 0 15px 0;
}

.mycarousel {
    position: relative;
    height: 400px;
    border-radius: 25px;
    overflow: hidden;
}

.image-reel {
    position: absolute;
}

.image-reel img {
    float: left;
}

.paging {
    position: absolute;
    bottom: 25px;
    right: 100px;
    display: none;
}

.paging a {
    font-size: 15px;
    color: #ffffff;
    border: 0.8px solid;
    border-color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    padding: 1px 5px 0px 5px;
}

.paging a:hover {
    background-color: #ffffff;
    color: #000;
    font-weight: bold;
}

.paging a.active {
    background-color: #ffffff;
    color: #000;
    font-weight: bold;
}

.control {
    position: relative;
    top: 41.8%;
}

.control .left-control, .right-control {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
    padding: 25px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.control .left-control {
    left: 20px;
}

.control .left-control:hover {
    font-weight: bold;;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.control .right-control {
    right: 20px;
}

.control .right-control:hover {
    font-weight: bold;;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}
