.set-gly-height {
    top: 2.5px;
}

#profile-container {
    margin-top: 50px;
}

#user-content {
    margin: 15px;
}

#user-portrait {
    margin: 0 15px;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    box-shadow: 0 5px 25px 1px #5e5e5e;
    overflow: hidden;
}

#user-portrait img {
    box-shadow: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#user-profile {
    margin: 15px;
}

#user-profile .list-group {
    font-size: 15px;
    margin: 0;
}

#user-profile .panel-body {
    padding: 0;
    bottom: 0;
}

#user-profile .panel-heading {
    font-size: 18px;
    opacity: 0.7;
}

#user-profile .panel-heading:hover {
    opacity: 1;
    cursor: pointer;
}

.div-hide {
    display: none;
}

#my-message-Modal .my-modal-dialog {
    top: 25%;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#profile-0-nav {
    margin-bottom: 15px;
}

#profile-0-nav a{
    cursor: pointer;
}

