<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#Bootstrap自动适配不同的分辨率的屏幕#}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {#用来生成csrf令牌#}
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% block new_css %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="#">首页</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block contendt %}
{% endblock %}

<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/docs.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% block new_js %}{% endblock %}
</body>
</html>