{% extends 'index_base.html' %}

{% block title %}首页{% endblock %}

{% block new_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block user_navbar %}
    {% if user.username == None %}
        <li><a id="login-user" href="#">登录</a></li>
        <li><a id="register-user" href="#">注册</a></li>
        <li><a id="context-user" href="#" style="display: none"><img src="" alt=""></a></li>
        <li><a id="logout-user" href="#" style="display: none">注销</a></li>
    {% else %}
        <li><a id="login-user" href="#" style="display: none">登录</a></li>
        <li><a id="register-user" href="#" style="display: none">注册</a></li>
        <li><a id="context-user" href="{{ url_for('auth.user_profile', username=user.username) }}">
            <img src="{{ url_for('static', filename='images/user_portrait/' + user.username + '.png') }}">
        </a></li>
        <li><a id="logout-user" href="#">注销</a></li>
    {% endif %}
{% endblock %}

{% block new_content %}
    <div class="show-carousel-container">
        <div class="container">
            <div class="container-fluid my-carousel-container">
                <div class="mycarousel">
                    <div class="window">
                        <div class="images-reel">
                            {% for each_img in carousel_imgs %}
                                <a href="#"><img src="{{ url_for('static', filename='images/' + each_img + '.jpg') }}"
                                                 alt=""></a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="paging">
                        {% for each_img in carousel_imgs %}
                            <a href="" rel={{ each_img }}>{{ each_img }}</a>
                        {% endfor %}
                    </div>
                    <div class="control">
                        <span class="left-control glyphicon glyphicon-chevron-left"></span>
                        <span class="right-control glyphicon glyphicon-chevron-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail my-project-thumbnail">
                    <img class="img-thumbnail" src="holder.js/100%x200" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>content of the first show!content of the first show!content of the first show!content of the
                            first show!content of the first show!content of the first show!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="youdao-project" class="thumbnail my-project-thumbnail">
                    <a href="{{ url_for('trans.youdao_spider') }}"><img class="img-thumbnail" src="holder.js/100%x200"
                                                                        alt="..."></a>
                    <div class="caption">
                        <h3>我的翻译器</h3>
                        <p>
                            分析有道翻译网页版的工作原理，编写爬虫模仿有道网页版加密处理需翻译的内容请求有道服务器，并分析有道服务器返回的响应信息获得最终的翻译结果，最后通过网页设计实现自己的翻译器。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail my-project-thumbnail">
                    <img class="img-thumbnail" src="holder.js/100%x200" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>content of the first show!content of the first show!content of the first show!content of the
                            first show!content of the first show!content of the first show!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail my-project-thumbnail">
                    <img class="img-thumbnail" src="holder.js/100%x200" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>content of the first show!content of the first show!content of the first show!content of the
                            first show!content of the first show!content of the first show!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail my-project-thumbnail">
                    <img class="img-thumbnail" src="holder.js/100%x200" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>content of the first show!content of the first show!content of the first show!content of the
                            first show!content of the first show!content of the first show!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail my-project-thumbnail">
                    <img class="img-thumbnail" src="holder.js/100%x200" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>content of the first show!content of the first show!content of the first show!content of the
                            first show!content of the first show!content of the first show!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block new_js %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}