{% extends 'index_base.html' %}

{% block title %}首页{% endblock %}

{% block new_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block new_content %}
    <div class="show-carousel-container">
        <div class="container">
            <div class="container-fluid my-carousel-container">
                <div class="mycarousel">
                    <div class="window">
                        <div class="image-reel">
                            {% for each_img in data.carousel_imgs %}
                                <a href="#"><img src="{{ url_for('static', filename='image/' + each_img + '.jpg') }}"
                                                 alt=""></a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="paging">
                        {% for each_img in data.carousel_imgs  %}
                            <a href="" rel={{ each_img }}>{{ each_img }}</a>
                        {% endfor %}
                    </div>
                    <div class="control">
                        <span class="left-control glyphicon glyphicon-chevron-left"></span>
                        <span class="right-control glyphicon glyphicon-chevron-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail my-project-thumbnail">
                    <img class="img-thumbnail" src="holder.js/100%x200" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>content of the first show!content of the first show!content of the first show!content of the
                            first show!content of the first show!content of the first show!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail my-project-thumbnail">
                    <img class="img-thumbnail" src="holder.js/100%x200" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>content of the first show!content of the first show!content of the first show!content of the
                            first show!content of the first show!content of the first show!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail my-project-thumbnail">
                    <img class="img-thumbnail" src="holder.js/100%x200" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>content of the first show!content of the first show!content of the first show!content of the
                            first show!content of the first show!content of the first show!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail my-project-thumbnail">
                    <img class="img-thumbnail" src="holder.js/100%x200" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>content of the first show!content of the first show!content of the first show!content of the
                            first show!content of the first show!content of the first show!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail my-project-thumbnail">
                    <img class="img-thumbnail" src="holder.js/100%x200" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>content of the first show!content of the first show!content of the first show!content of the
                            first show!content of the first show!content of the first show!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail my-project-thumbnail">
                    <img class="img-thumbnail" src="holder.js/100%x200" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>content of the first show!content of the first show!content of the first show!content of the
                            first show!content of the first show!content of the first show!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block new_js %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}