{% extends 'index_base.html' %}
{% import '_macros.html' as macros %}

{% block title %}首页{% endblock %}

{% block new_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block user_navbar %}
    {{ macros.add_user_navbar(user) }}
{% endblock %}

{% block new_content %}
    <div class="show-carousel-container">
        <div class="container">
            <div class="container-fluid my-carousel-container">
                <div class="mycarousel">
                    <div class="window">
                        <div class="images-reel">
                            {% for each_img in carousel_imgs %}
                                <a href="#"><img src="{{ url_for('static', filename='images/' + each_img + '.jpg') }}"
                                                 alt=""></a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="paging">
                        {% for each_img in carousel_imgs %}
                            <a href="" rel={{ each_img }}>{{ each_img }}</a>
                        {% endfor %}
                    </div>
                    <div class="control">
                        <span class="left-control glyphicon glyphicon-chevron-left"></span>
                        <span class="right-control glyphicon glyphicon-chevron-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail my-project-thumbnail">
                    <a href="{{ url_for('auth.index') }}">
                        <img class="img-thumbnail" src="{{ url_for('static', filename='images/project_0.png') }}" alt="...">
                    </a>
                    <div class="caption">
                        <h3>用户交流平台</h3>
                        <p>
                            用户注册登录平台后，可以发表、评论和关注相关文章或问答，每个用户都一个个人主页，可以编辑个人信息和管理发表的文章和问答
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="youdao-project" class="thumbnail my-project-thumbnail">
                    <a href="{{ url_for('trans.youdao_spider') }}">
                        <img class="img-thumbnail" src="{{ url_for('static', filename='images/project_1.png') }}" alt="...">
                    </a>
                    <div class="caption">
                        <h3>英汉翻译器</h3>
                        <p>
                            分析有道翻译网页版的工作原理，编写爬虫模仿有道网页版加密处理需翻译的内容请求有道服务器，并分析有道服务器返回的响应信息获得最终的翻译结果。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail my-project-thumbnail">
                    <a href="{{ url_for('starwar.index') }}">
                        <img class="img-thumbnail" src="{{ url_for('static', filename='images/project_2.png') }}" alt="...">
                    </a>
                    <div class="caption">
                        <h3>星战电影数据可视化</h3>
                        <p>
                            使用python爬取星战电影数据并处理整合成展示需要的json文件，通过D3.js实现数据驱动文本通过网页展示数据关系
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail my-project-thumbnail">
                    <a href="{{ url_for('weather.index') }}">
                        <img class="img-thumbnail" src="{{ url_for('static', filename='images/project_3.png') }}" alt="...">
                    </a>
                    <div class="caption">
                        <h3>中国各地气温数据可视化</h3>
                        <p>
                            使用python的第三方库requests和bs4来爬取中国天气网的相关数据，分析处理数据并通过Echarts.js的地图模块来实现数据可视化
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block new_js %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
