{% extends 'index_base.html' %}

{% block title %}
    {{ user.username }} 的主页
{% endblock %}

{% block new_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block user_navbar %}
    <li><a id="context-user" href="#">{{ user.username }}</a></li>
    <li><a id="logout-user" href="#">注销</a></li>
{% endblock %}

{% block new_content %}
    <div class="container">
        <div class="row" id="profile-container">
            <div class="col-md-3">
                <div class="row">
                    <img src="holder.js/100%x200" alt="">
                </div>
                <ul class="nav nav-pills">
                    <li><a href="#">linux</a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <img src="holder.js/100%x500" alt="">
            </div>
        </div>
    </div>
{% endblock %}

{% block new_js %}
    <script>
        $('#my-navbar-collapse li').removeClass('active');
        $('#logout-user').click(function () {
            window.location.href = "{{ url_for('auth.login') }}";
        });
    </script>
{% endblock %}