{% extends 'index_base.html' %}

{% block title %}
    {{ user.username }} 的主页
{% endblock %}

{% block new_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block user_navbar %}
    <li><a id="context-user" href="#">{{ user.username }}</a></li>
    <li><a id="logout-user" href="#">注销</a></li>
{% endblock %}

{% block new_content %}
    <div class="container">
        <div class="row" id="profile-container">
            <div class="col-sm-3">
                <div id="user-portrait">
                    <img src="holder.js/100%x100%" alt="">
                </div>
                <div class="text-center" id="user-profile">
                    <div class="panel-group">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                我的问答
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <a href="#" class="list-group-item active">全部</a>
                                    <a href="#" class="list-group-item">设置中心</a>
                                    <a href="#" class="list-group-item">XXX</a>
                                    <a href="#" class="list-group-item">XXX</a>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                用户中心
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <a href="#" class="list-group-item active">全部</a>
                                    <a href="#" class="list-group-item">设置中心</a>
                                    <a href="#" class="list-group-item">XXX</a>
                                    <a href="#" class="list-group-item">XXX</a>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                设置中心
                            </div>
                            <div class="panel-body">
                                <ul id="setting" class="list-group">
                                    <a id="setting-0" href="#" class="list-group-item active">编辑详情</a>
                                    <a id="setting-1" href="#" class="list-group-item">修改密码</a>
                                    <a id="setting-2" href="#" class="list-group-item">修改电子邮箱</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div id="setting-0-content" class="setting-content">
                    <img src="holder.js/100%x400" alt="">
                </div>
                <div id="setting-1-content" class="setting-content" style="display: none">
                    <h3 class="text-center">修改密码</h3>
                    <form method="post">
                        <label class="control-label">电子邮箱</label>
                        <div class="form-group">
                            <input id="emailRS" type="text" class="form-control" placeholder="请输入绑定的邮箱">
                            <span class="clear-glyphicon"></span>
                            <span class="help-block clear-help"></span>
                        </div>
                        <label class="control-label text-right">设置新秘密</label>
                        <div class="form-group">
                            <input id="passwordRS1" type="password" class="form-control" placeholder="请设置新密码">
                            <span class="clear-glyphicon"></span>
                            <span class="help-block clear-help"></span>
                        </div>
                        <label class="control-label text-right">确认新密码</label>
                        <div class="form-group">
                            <input id="passwordRS2" type="password" class="form-control" placeholder="请确认新密码">
                            <span class="clear-glyphicon"></span>
                            <span class="help-block clear-help"></span>
                        </div>
                        <div class="form-group">
                            <br>
                            <button id="btn-resetpwd" type="button" class="btn btn-primary btn-block">立即修改</button>
                            <button id="btn-cancel-1" type="button" class="btn btn-warning btn-block  btn-cancel">取消
                            </button>
                        </div>
                    </form>
                </div>
                <div id="setting-2-content" class="setting-content" style="display: none">
                    <h3 class="text-center">修改电子邮箱</h3>
                    <form method="post">
                        <label class="control-label">原电子邮箱</label>
                        <div class="form-group">
                            <input id="old-emailRS" type="text" class="form-control" placeholder="请输入绑定的邮箱">
                            <span class="clear-glyphicon"></span>
                            <span class="help-block clear-help"></span>
                        </div>
                        <label class="control-label text-right">新电子邮箱</label>
                        <div class="form-group">
                            <input id="new-emailRS" type="text" class="form-control" placeholder="请设置新的电子邮箱">
                            <span class="clear-glyphicon"></span>
                            <span class="help-block clear-help"></span>
                        </div>
                        <div class="form-group">
                            <br>
                            <button id="btn-resetemail" type="button" class="btn btn-primary btn-block">立即修改</button>
                            <button id="btn-cancel-2" type="button" class="btn btn-warning btn-block btn-cancel">取消
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="my-message-Modal">
        <div class="modal-dialog my-modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 id="my-modal-title" class="modal-title text-center"><strong class="sign"></strong></h4>
                </div>
                <div class="modal-body text-center">
                    <h4 id="message-content"></h4>
                </div>
                <div class="modal-footer my-modal-footer">
                    <button type="button" class="btn btn-warning btn-block" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block new_js %}
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}